.profile__name {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    font-style: normal;
    padding: 0 18px 0 0;
    margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__name {
            font-size: 27px;
            line-height: 33px;
            padding: 0 10px 0 0;
        }
}