@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts-inter.css);

/* * {
    outline: red solid 1px;
}*/

.root {
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #000;
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

/* header */

.header {
    display: flex;
    max-width: 880px;
    padding: 45px 0 41px 0;
    margin: 0 auto;
    border-bottom: rgba(84, 84, 84, 0.7) solid 1px;
}

.header__logo {
    width: 142px;
    height: 33px;
    border: none;
}

/* profile */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    margin: 0 auto;
    padding: 40px 0 50px 0;
}

.profile__container {
    display: flex;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 30px;
}

.profile__name {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    font-style: normal;
    padding: 0 18px 0 0;
    margin: 0;
}

.profile__description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    padding: 10px 0 0 0;
    margin: 0;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: #000;
    background-image: url(../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding: 0;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    transition: opacity .5s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
}

.profile__box-title {
    display: flex;
    align-items: baseline;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url(../images/edit-button.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity .5s ease;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

/* elements */

.elements {
    max-width: 880px;
    margin: 0 auto;
}

.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.element {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.element__img {
    display: inherit;
    width: 100%;
}

.element__info {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 25px 21px;
    margin: 0;
    gap: 30px;
}

.element__name {
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.element__like-button {
    max-width: 22px;
    width: 100%;
    height: 19px;
    background-color: #fff;
    background-image: url(../images/like-button-disabled.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity .5s ease;
}

.element__like-button:hover {
    opacity: 0.5;
}

.element__like-button_active {
    background-image: url(../images/like-button-active.svg);
}

/* footer */

.footer {
    max-width: 880px;
    padding: 66px 0 60px 0;
    margin: 0 auto;
}

.footer__copyright {
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

/* popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup__container {
    display: flex;
    flex-direction: column;
    width: 430px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
}

.popup__close-button {
    display: block;
    width: 32px;
    height: 32px;
    background: transparent center url(../images/close-icon.svg);
    background-size: auto;
    border: none;
    transition: 0.3s;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .5s ease;
}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup_is-opened {
    display: flex;
}

.popup__form {
    margin: 0;
    padding: 0;
}

.popup__title {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    font-style: normal;
    padding: 0 0 49px 0;
    margin: 0;
}

.popup__input {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    width: 100%;
    padding: 0 0 8px 0;
    margin: 0 0 30px 0;
}

.popup__input:focus {
    outline: none;
}

.popup__input:last-of-type {
    margin: 0 0 48px 0;
}

.popup__save-button {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    text-align: center;
    background-color: #000;
    border: none;
    border-radius: 2px;
    outline: none;
    min-width: 358px;
    width: 100%;
    padding: 14px 0 14px 0;
    margin: 0;
    cursor: pointer;
    transition: opacity .5s ease;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__logo {
        margin-left: 27px;
    }
    .profile {
        padding: 40px 19px 50px 19px;
    }
    .footer {
        padding: 66px 19px 60px 19px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        padding: 28px 0 31.6px 27px;
    }
    .header__logo {
        width: 103.74px;
        height: 24.4px;
    }
    .profile {
        flex-direction: column;
        padding: 42px 19px 36px 19px;
    }
    .profile__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile__info {
        align-items: center;
        padding: 0;
        margin: 26px 0 36px 0;
    }
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        padding: 0 10px 0 0;
    }
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 0 0 0;
    }
    .profile__add-button {
        width: 282px;
        height: 50px;
        background-size: 16px 16px;
    }
    .footer {
        padding: 48px 19px 36px 19px;
    }
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
    .popup__container {
        width: 282px;
        padding: 25px 22px 25px 22px;
    }
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 75px 0;
    }
    .popup__input {
        font-size: 14px;
        line-height: 17px;
        padding: 0 0 8px 0;
    }
    .popup__input:last-of-type {
        margin: 0 0 45px 0;
    }
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
        min-width: 238px;
        padding: 14px 0 14px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .elements__list {
        padding: 0 19px 0 19px;
    }
}

@media screen and (max-width: 320px) {
    
}